<a href="https://colab.research.google.com/github/disomnongjalilah/CPE-103-OOP-1-A/blob/main/Loops_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thurday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thurday
Friday
Saturday

In [17]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thurday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Tuesday":
    break

Sunday
Monday
Tuesday

In [16]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thurday", "Friday", "Saturday"]
for x in "week":
  print(x)

w
e
e
k

The range() Function

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range (2,6):
  print(x)

2
3
4
5

Nested Loop

In [ ]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

Break Statement

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [25]:
i = 1
while i < 6:
    if i == 3:
       i += 1
       continue
    print(i)
    i += 1

1
2
4
5

Else Statement

In [5]:
i = 6
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

i is no longer less than 6

In [21]:
i = 0
while i < 11:
  print("Hello", i)
  i += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

# Practical Test

In [24]:
#Create a python program that displays integers less than 10 but not less than 3

i = 3
while i < 10:
  print(i)
  i += 1

3
4
5
6
7
8
9