<a href="https://colab.research.google.com/github/disomnongjalilah/CPE-103-OOP-1-A/blob/main/Operations_and_Expression_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [ ]:
print(10 > 9)
print(10 == 0)
print(10<9)

True
False
False

Bool () Function

In [ ]:
print(bool(1))
print(bool(0))
print(bool(-2))

True
False
True

Funtion can return a Boolean

In [ ]:
def myfunction():
  return True

print(myfunction())

True

In [ ]:
def myfunction():
  return False

if myfunction():
  print("YES!")
else:
  print("NO!")

NO!

In [ ]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=b)

True
False
True

Python Operators

In [ ]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)

15
5
50
2.0

Python Bitwise Operators

In [ ]:
a = 60
b = 13
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<b)

12
61
49
-61
491520

Python Assignment Operator

In [ ]:
x=5

x += 3
print(x)
x -= 3
print(x)
x *= 3
print(x)
x /= 3
print(x)
x %= 3
print(x)

8
5
15
5.0
2.0

Logical Operator

In [23]:
not(10>9 and 9>10)

True

Identity Operator

In [24]:
x=1
y=2
print(x is y)
print(x is not y)

False
True

Conditional Statement

In [26]:
#1. If statement

a=12
b=100
if b>a:
  print("b is greater than a")

b is greater than a

In [27]:
#2 Elif Statements

a=12
b=100
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")

b is greater than a

In [28]:
#3 Else Statements

a=12
b=100
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b")

b is greater than a

In [29]:
#4 Short Hand If Statement

if a>b: print("a is greater than b")

In [30]:
#5 Short Hand If.else Statement

a=2
b=330
print("A") if a>b else print("B")

B

In [31]:
#6 And-both Conditions are true

a=200
b=33
c=500
if a>b and c>a:
  print("Both conditions are true")

Both conditions are true

In [32]:
#7 Or-at least one of the condition is true

a=200
b=33
c=500
if a>b or a>c:
  print("At least one of the conditions is true")

At least one of the conditions is true

In [58]:
#8 Nested if

x=41

if x>10:
  print("Above ten")
  if x>20:
    print("also above twenty")
else:
  print("but not above twenty")
if x>30:
   print("also above thirty")
else:
    print("but not above thirty")
if x>40:
    print("also above fourty")
    if x<50:
        print("But not above fifty")

Above ten
also above twenty
also above thirty
also above fourty
But not above fifty

ACTIVITY

In [67]:
#1

age=float(input("Enter your age: "))

if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

Enter your age: 18
You are qualified to vote

In [66]:
#2

num=float(input("Enter a number: "))

if num>0:
  print("Positive number")
elif num==0:
  print("Zero")
else:
  print("Negative number")

Enter a number: 2
Positive number

In [72]:
#3

grade=float(input("Enter your grade: "))

if grade>=75:
  print("Passed")
elif grade==74:
  print("Remedial")
else:
  print("Failed")

Enter your grade: 99
Passed