<a href="https://colab.research.google.com/github/disomnongjalilah/CPE-103-OOP-1-A/blob/main/Python_Fundamental.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Identation

In [8]:
if 5>2:
  print("Five is greater than two")

Five is greater than two

In [10]:
x=2
y=5

if x>y:
  print("x is greater than y")
else:
  print("y is greater than x")

y is greater than x

Python Comments

In [9]:
#This is a comment
print("Hello World!")

Hello World!

Python Variable

In [20]:
x = 1
a, b = 0,-1
a, b, c = 0,-1,"Sally"

print(a)
print(b)
print(x)
print(c)

0
-1
1
Sally

Casting

In [23]:
b="sally"
b=int(4)
b=float(4)
print(b)

4.0

Type Function

In [25]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double quotes or Single quotes

In [28]:
y="John"
y='John'
print(y)
print(y)

John
John

Case Sensitive

In [31]:
a=4
A="Sally"

print(a)
print(A)

4
Sally

Multiple Variables

In [32]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [33]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [34]:
x="enjoying"
print("Python programming is " + x)

Python programming is enjoying

In [35]:
x="Python is "
y="enjoying"
z=x+y
print(z)

Python is enjoying

Arithmetic Operations

In [39]:
x=5
y=3

#Floor division
print(x//y)
#Exponentiation
print(x**y)
#Modulus
print(x%y)

1
125
2

Assignment Operator

In [47]:
a,b,c=0,-1,6
c%=3
print(c)

0

Comparison Operator

In [43]:
x=5
y=3
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
True
False
True
False

Logical Operator

In [44]:
a,b,c=0,-1,6
a>b and c>b

True

Identify Operators

In [45]:
a,b,c=0,-1,5
a is c

False

Bitwise Operator

In [74]:
#Decimal to binary
#10=1010

x=10
x>>1
print(x)

10

Application 1

In [99]:
#Application 1

#Square
x= 5
y=2
z=x**y
print("The area of square is" ,z)

#Rectangle
x= 5
y=8
z=x*y
print("The area of rectangle is" ,z)

#Circle
x= 5
y=3.14
z=y*x*x
print("The area of circle is" ,z)

The area of square is 25
The area of rectangle is 40
The area of circle is 78.5