<a href="https://colab.research.google.com/github/disomnongjalilah/CPE-103-OOP-1-A/blob/main/Variables_and_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Numbers

In [13]:
variable = 123
pi = 3.14159

Strings

In [12]:
varString = "Hello World"
varList = "This is a string"

Lists

In [11]:
varList = ('abc', 123, "Hello")

Tuples

In [10]:
varTuple = ('abc', 123, "Hello")

Dictionaries

In [9]:
var = 3
varDict = {'first':1, '2':'second', 3:var}

varDict = {}
varDict['first']= 1
varDict['2'] = '2nd'
varDict[3] = var

# Arithmetic

In [21]:
#Addition
a = 5 + 3

#Subtraction
b = 5 - 3

#Multiplication
c = 5 * 3

#Exponent
d = 5 ** 3

#Division
e = 5 / 3

#Modulos
f = 5 % 3

#Floor Division
g = 5 // 3

#Increment/Decrement
h = 5
h += 1

#Decrement
i = 5
i -= 1

#String Concatenation
j = 'Hello ' + 'World!'

#Complex Expressions
k = 3 + 5 - 6 * 2 / 4

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)
print(j)
print(k)

8
2
15
125
1.6666666666666667
2
1
6
4
Hello World!
5.0

# Conditional Statements

In [5]:
#Boolean Conditions
x = True
if x:
    print("var is True")
else:
    print("var x is False")

var is True

In [7]:
#String Conditions
x = "Hello World!"

if x == "Hello World!":
    print("var x is Hello World!")
else:
    print("var x is not Hello World!")

var x is Hello World!

In [8]:
#Numerical Conditions
x = 10

if x == '10':
    print("var x is a string")
elif x == 10:
    print("var x is an integer")
else:
    print("var v is none of the above")

var x is an integer

## Loops

In [14]:
#For Loops
for var in range(0, 5, 2):
    print(var)

0
2
4

In [15]:
#While Loops
var = 0
while var < 5:
    print(var)
    var += 1

0
1
2
3
4

In [16]:
#Nested Loops
x = 0
while x < 5:
    for y in range (0, x):
        print(y, end='')
    x += 1
    print()

0
01
012
0123

# Functions

In [24]:
def remainder(n, m):
    while True:
        if n - m < 0:
            return n
        else:
            n = n - m

remainder(10, 4)

2

# Lists

In [35]:
pi = 3.14159
varList = [1, 2, 'A', 'B', 'Hello!', pi]
print(varList[0])

print(varList[4])

varList.append('World!')
print(varList[6])


print(varList[5])

varList.remove(pi)
print(varList[5])

len(varList)

1
Hello!
World!
3.14159
World!

6

# Dictionaries

In [39]:
var = "Hello World!"
varDict = {'first': 123, 2 :'abc', '3' : var, 4 : ['lista', 'list b']}
print(varDict['first'])
print(varDict[2])
print(varDict['3'])
print(varDict[4])
print(varDict[4][1])
len(varDict)

123
abc
Hello World!
['lista', 'list b']
list b

4

# List

In [43]:
def gen_num_up_to(n):
    num = 0
    while num < n:
        yield num
        num += 1

gen_num_up_to(5)

varList = gen_num_up_to(5)
print([var for var in varList])

[0, 1, 2, 3, 4]

In [44]:
def gen_num_up_to(n):
    num = 0
    while num < n:
        yield num
        num += 2

varList = gen_num_up_to(5)
print([var for var in varList])

[0, 2, 4]

In [45]:
varList = range(0, 5, 2)
print([var for var in varList])

[0, 2, 4]

# Slicing

In [47]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[:5])
print(varList[5:])
print(varList[:-2])
print(varList[-2:])
print(varList[2:-2])
print(varList[2:8:2])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]