<a href="https://colab.research.google.com/github/disomnongjalilah/CPE-103-OOP-1-A/blob/main/CPE_103_Laboratory_No_2_Literals_Operators_and_Variables_docx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assigning variables of different data types in Python

Performing Operations

In [ ]:
value = 5
print(value)

5

In [ ]:
value = 5
type(value)

int

In [ ]:
#a
value = 2+3j
print(value)
type(value)

(2+3j)

complex

In [ ]:
#b
value = 'Hello World'
print(value)
type(value)

Hello World

str

In [ ]:
#c
value = "Hello World"
print(value)
type(value)

Hello World

str

In [ ]:
#d
value = True
print(value)
type(value)

True

bool

In [ ]:
#e
value = False
print(value)
type(value)

False

bool

In [ ]:
#f
value = [1,2,3,4,5]
print(value)
type(value)

[1, 2, 3, 4, 5]

list

In [ ]:
#g
value = (1,2,3,4,5)
print(value)
type(value)

(1, 2, 3, 4, 5)

tuple

In [ ]:
#h
value = {'name':'Royce'}
print(value)
type(value)

{'name': 'Name'}

dict

In [ ]:
#i
value = None
print(value)
type(value)

None

NoneType

In [ ]:
#6
value = 5
print(value)
type(value)

5

int

In [ ]:
#a
value = 5.0
value2 = 6
print(value+value2)

#b
value=-5
value2=6.1
print(value+value2)

#c
value, value2="Hello", " World"
print(value+value2)


#d
value, value2=[1,2,3], [4,5,6]
print(value+value2)

#e
value, value2=(1,2,3), (4,5,6)
print(value+value2)

#f
value, value2 ={"name": "Rose"}, {"age": "2"}
print(value, value2)

11.0
1.0999999999999996
Hello World
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
{'name': 'Rose'} {'age': '2'}

In [ ]:
#a
value = 5.0
value2 = 6
print(value-value2)

#b
value=-5
value2=6.1
print(value-value2)

-1.0
-11.1

In [ ]:
value, value2=30, 4

#a
print(value*value2)

#b
print(value2**2)

#c
print(value2**3)

#d
print(value*value2+value2**2+1)

#e
print(value/value2)

#f
print(value%value2)

120
16
64
137
7.5
2

Assigning Input Data to a Variable

In [ ]:
input("Enter your name: ")
weight=float(input("Enter your weight(kg): "))
height=float(input("Enter your meters(m): "))
bmi= weight/height**2
print(bmi)

Enter your name: John Ray
Enter your weight(kg): 60
Enter your meters(m): 1.6764
21.349904958763087

Supplementary Activity

In [ ]:
#1.	Write the Python equivalent code of the following C code:

input("Enter the base of the triangle: ")
input("Enter the height of the triangle: ")
area = (1/2)*base*height;
print("The area of the triangle is: ", area);

Enter the base of the triangle: 21
Enter the height of the triangle: 12
The area of the triangle is:  31.5

In [ ]:
#2.	Write a program that would convert Celsius to Fahrenheit given the formula: F = (C × 9/5) + 32 Example of conversion:

C=float(input("Enter the temperature in Celsius: "))
F = (C * 9/5) + 32
print("The temperature in Fahrenheit is: ", F)

Enter the temperature in Celsius: 0
The temperature in Fahrenheit is:  32.0

In [ ]:
#3.	Write a program that can determine the distance between two points given the coordinates  formula:

x1=float(input("Enter the x-coordinate of the first point: "))
y1=float(input("Enter the y-coordinate of the first point: "))
x2=float(input("Enter the x-coordinate of the second point: "))
y2=float(input("Enter the y-coordinate of the second point: "))

d=((x2-x1)**2+(y2-y1)**2)**0.5
print("The distance between the two points is: ", d)

Enter the x-coordinate of the first point: 2
Enter the y-coordinate of the first point: 2
Enter the x-coordinate of the second point: -3
Enter the y-coordinate of the second point: 3
The distance between the two points is:  5.0990195135927845